<h1><%= @event %></h1>
<h2><%= @event.starts_at %></h2>

<% if @event.timeslots.empty? %>
  No timeslots!
<% else %>
  <ul class="timeslots">
    <% @event.timeslots.each do |timeslot| %>
      <%# TODO: Determine li class based on if current user has voted for that day  %>
      <li><%= timeslot %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
