<%= link_to "Events", root_path, :class => 'brand' %>

<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <button class="btn"><%= current_user %></button>
    </li>
    <li>
      <button class="btn"><%= link_to 'Edit profile', edit_user_registration_path %></button>
    </li>
    <li>
      <button class="btn"><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></button>
    </li>
  <% else %>
    <li>
      <button class="btn"><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></button>
    </li>
    <li>
      <button class="btn"><%= link_to('Sign up', new_user_registration_path) %></button>
    </li>
  <% end %>
</ul>